# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editor files
.idea/

# Testing trash

.pytest_cache
.tox

# Environs
venv/
env/

# Dist/build assets
*.egg-info/
build/
dist/
pip-wheel-metadata
